on_force_close "quit"
simplified_ui true
default_shell "zsh"
theme "tokyo-night-storm"
default_lazyout "compact"
mouse_mode true
copy_command "xclip -selection clipboard"
copy_on_select true

ui {
  pane_frames {
    rounded_corners true
    // hide_session_name true
  }
}
